{% extends 'base.html' %}

{% block content %}


<hr>


<div class="row">
    {% for each in object_list %}
    <div class="col-md-3 mb-4"> <div class="card" style="width: 13rem;">
            <img src="{{ each.image_url }}" class="card-img-top" alt="{{ each.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">{{ each.price|floatformat:2 }} сом</p>                
                
                {% if each.book_available is True %}
                <li class="text-primary">Бар</li>
                {% else %}
                <li class="text-danger">Түгөнүп калды</li>
                {% endif %}<br>
                
                <a href="{% url 'detail' each.id %}" class="btn btn-primary w-100">Көрүү</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}